.completedChallengesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0; /* vertical */
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
}

.completedChallengesContainer span:first-child { /* modifica apenas o primeiro span (esquerda) */
    font-size: 1.25rem;
}

.completedChallengesContainer span:first-child { /* modifica apenas o segundo span (direita) */
    font-size: 1.5rem;
}